body {
	background-color: #808080;
	color: #fff;
}
.container {
	width: 600px;
	height: 600px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #eee;
}
.buttons {
	width: 650px;
	margin: 10px auto;
	text-align: center;
}
.basic {
	float: left;
	border-width: 1px;
	border-style: solid;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
}
h1 {
	font-family: cursive;
	text-align: center;
	margin-top: 0;
}